@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #0f1617;
  --spacing: 4px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-dark: #0e243c;
  --color-medium: #0D97A8;
  --color-black: rgb(15, 22, 23);
  --color-black-200: rgba(15, 22, 23, 0.2);
  --color-black-400: rgba(15, 22, 23, 0.4);
  --color-white: #ffffff;
  --color-bg: #fafafa;
  --color-disable: #eeeeee;
  --color-green: #00cf72;
  --color-orange: #ffbb1d;
  --color-red: #FF115C;
  --color-grey: #fbf8f8;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Global CSS rules for the specified text styles */

/* h1 tag */
.h1 {
  font-size: 20px;
  line-height: 130%; /* 130% of 20px = 26px */
  font-weight: 600; /* SemiBold typically corresponds to font-weight 600 */
}

/* Custom class for p1 */
.p1 {
  font-size: 16px;
  line-height: 140%; /* 140% of 16px = 22.4px, rounded to 22px in the table */
  font-weight: 400; /* Regular corresponds to font-weight 400 */
}

/* Custom class for p2 */
.p2 {
  font-size: 16px;
  line-height: 140%; /* 140% of 16px = 22.4px, rounded to 22px */
  font-weight: 600; /* SemiBold corresponds to font-weight 600 */
}

/* Custom class for p3 */
.p3 {
  font-size: 14px;
  line-height: 140%; /* 140% of 14px = 19.6px, rounded to 19.6px */
  font-weight: 400; /* Regular corresponds to font-weight 400 */
}

/* Custom class for p4 */
.p4 {
  font-size: 14px;
  line-height: 140%; /* 140% of 14px = 19.6px, rounded to 19.6px */
  font-weight: 600; /* SemiBold corresponds to font-weight 600 */
}

/* Custom class for p5 */
.p5 {
  font-size: 13px;
  line-height: 140%; /* 140% of 13px = 18.2px, rounded to 18.2px */
  font-weight: 500; /* Medium typically corresponds to font-weight 500 */
}

/* Custom class for p6 */
.p6 {
  font-size: 13px;
  line-height: 140%; /* 140% of 13px = 18.2px, rounded to 18.2px */
  font-weight: 400; /* Regular corresponds to font-weight 400 */
}

/* Custom class for p7 */
.p7 {
  font-size: 10px;
  line-height: 140%; /* 140% of 10px = 14px */
  font-weight: 400; /* Regular corresponds to font-weight 400 */
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}